.editor_textarea{
    width: calc(100% - 0px);
    position: relative;
}
.editor_textarea textarea{
    font-weight: 500;
    padding: 5px 0px;
    margin: 0px;
    outline: none;
    height: 20px;
    border: none;
    width: calc(100% - 2px);
    resize: none;
    font-family: inherit;
    border: 2px solid #fff;
    width: inherit;
    margin-bottom: -2px;
}
.editor_textarea textarea:focus{
    border: 2px dotted grey;
    border-radius: 5px;
}