.dropdown{
    position: relative;
}

.dropdown .dropdown_content_open ~ .dropdown_overlay{
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100vw;
    z-index: 2;
    /* background: #0000001a; */
}
.dropdown_content{
    position: absolute;
    width: max-content;
    z-index: 101;
    background: #ffffff;
    box-shadow: 0px 0px 10px #0000002f;
    right: -25px;
    top: -25px;
    display: flex;
    z-index: 10;
    transform: scale(0);
    opacity: 0;
    transition: .2s ease;
    /* border-radius: 100%; */
}
.dropdown_content_open{
    border-radius: 5px;
    opacity: 1;
    right: 20px;
    top: 40px;
    transform: scale(1) ;
}
.dropdown_content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 5px 0;
    overflow: hidden;
}
.dropdown_content ul li{
    margin-bottom: 0px;
    text-align: left;
    
    width: 100%;
    position: relative;
    color: var(--tertiary-color);
    display: flex;
    margin: 5px 0;
    position: relative;
}
.dropdown_content ul li:hover{
    background: #ebebeb;
}
.dropdown_content ul li .link{
    text-decoration: none;
    color: inherit;
    padding: 8px 20px 8px 10px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}
.dropdown_content ul li button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.dropdown_content ul li i{
    margin-right: 20px;
    margin-left: 5px;
}