.file_viewer{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease;
    background: rgba(0, 0, 0, 0.808);
    z-index: 100000000;
    display: none;
    flex-direction: column;
}
.file_viewer .view_navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: #14141491;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #363636;
    z-index: 100000000;
    padding: 0 15px;
}
.file_viewer .view_navbar > div{
    display: flex;
}
.file_viewer .view_navbar .info{
    color: rgb(180, 180, 180);
}
.file_viewer .view_navbar .info .icon{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.1rem;
}
.file_viewer .view_navbar .info .file_name{
    font-weight: 500;
}
.file_viewer .view_navbar .options{
    color: rgb(180, 180, 180);
    font-size: 1.2rem;
}
.file_viewer .view_navbar .options .option{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    color: inherit;
    align-items: center;
    justify-content: center;
}
.file_viewer .view_navbar .options .option:hover{
    background: #464646;
}

.file_viewer .preview{
    max-width: 98vw;
    min-width: 300px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 60px;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.file_viewer .preview .object{
    background: #6e6e6e;
    height: fit-content;
    width: 100%;
    z-index: 100000000;
    position: relative;
}
.file_viewer .preview .object .file{
    width: 100%;
}
.file_viewer .preview .no_preview{
    color: #6e6e6e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100000;
}
.file_viewer .preview .no_preview .download_button{
    padding: 8px 15px;
    background: var(--primary-color);
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}
.file_viewer .arrows{
    position: fixed;
    top: calc(50% + 30px);
    bottom: 50%;
    color: #a5a5a5;
    height: 40px;
    width: 40px;
    background: #0000008f;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    z-index: 1000000000;
    transform: translateY(-50%);
    font-size: 20px;
}
.file_viewer .arrows.previous{
    left: 30px;
}
.file_viewer .arrows.next{
    right: 30px;
}
.file_viewer .close_area{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    left: 0;
}
.file_viewer .toolbar{
    position: fixed;
    bottom: 40px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    color: rgb(180, 180, 180);
    width: fit-content;
    background: #0000008f;
    backdrop-filter: blur(5px);
    padding:5px 15px;
    border-radius: 30px;
    z-index: 10000000000;
}
.file_viewer .toolbar .zoom{
    display: flex;

    align-items: center;
}
.file_viewer .toolbar .zoom span{
    margin-left: 10px;
    border-radius: 5px;
    width: 40px;
    background: var(--black);
    height: fit-content;
    padding: 5px;
}
.file_viewer .toolbar .tools{
    display: flex;
    margin-left: 15px;
}
.file_viewer .toolbar .tools div{
    margin: 3px;
    font-size: 1.2rem;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.file_viewer .toolbar .tools div:hover{
    background: #24242456;
}