.add_work {
    width: calc(100%);
}
.add_work .overlay{
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    width: calc(100%);
    right: 0;
    z-index: 1000;
    background: #00000080;
    transition: .3s ease;
    opacity: 1;
}
.add_work .selector{
    width: calc(100% - 60px);
    height: calc(100vh - 50px);
    right: 0 !important; 
    position: absolute;
    bottom: -20px;
    top: 0;
    margin-bottom:30px;
    background-color: #f2f2ff;
    background-image: url('../../static/images/bg.png');
    background-size: cover;
    background-blend-mode: overlay;
    z-index: 1001;
    transform: scale(1);
    transition: .3s ease;
    display: flex;
    flex-direction: column;
}
.add_work .selector .nav_tab{
    display: flex;
    z-index: 10000;
    width: calc(100% - 40px);
    padding: 15px 20px 10px 20px;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid #e2e2e2;
}

.add_work .selector .nav_tab .title{
    font-size: 18px;
    color: #3c4043;
}
.add_work .selector .nav_tab .close_button{
    font-size: 15px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    margin: 0;
    color: #3c4043;
    transform: scale(1.3);
}
.add_work .selector .nav_tab .close_button:hover{
    background: #f1f1f1;
}
.add_work .selector  .selector_nav{
    padding: 0 20px;
    width: calc(100% - 40px);
    height: fit-content;
    display: flex;
    margin-top: 20px;
    position: relative;
    justify-content: center;
}
.add_work .selector  .selector_nav ul{
    display: flex;
    list-style: none;
    max-width: 400px;
    width: calc(100% - 50px);
    justify-content: center;
    position: relative;
    background: #e2e4ff;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    height: 25px;
}
.add_work .selector  .selector_nav span{
    position: absolute;
    width: calc(50% - 5px);
    height: 25px;
    top: 5px;
    transition: .3s ease;
    left: 0;
    border-radius: 5px;
    z-index: 0;
    background: var(--primary-color);
}
.add_work .selector  .selector_nav ul li.active{
    color: white;
}
.add_work .selector  .selector_nav ul li{
    flex-grow: 1;
    z-index: 2;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 12px;
    background: transparent;
    padding: 5px;
    cursor: pointer;
    transition: .3s ease;
    border-radius: 5px;
    text-align: center;
}
.add_work .selector .form{
    padding: 20px;
    height: 100%;
    width: calc(100% - 40px);
    margin-top: 20px;
    align-self: center;
    border: 1px solid #e2e2e2;
    max-width: 700px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add_work .selector  .form .form_content{
    display: flex;
    flex-direction: column;
}
.add_work .selector  .form .btn_group{
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    gap: 10px;
}
.add_work .selector  .form input{
    width: calc(100% - 30px);
}
@media screen and (max-width:690px){
    .add_work .selector{
        width: 100vw !important;
    }
}