.assignment_top_bar {
  width: 100%;
  height: 45px;
  position: sticky;
  top: 47px !important;
  background-color: #ffffff;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #c0c0c0;
  z-index: 20000;
  right: 0;
  left: 0;
}
.assignment_top_bar .tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  display: flex;
  padding-left: 15px;
  align-items: center;
  height: 100%;
  overflow: scroll;
  overflow-y: hidden;
}
.assignment_top_bar .tabs .tab {
  height: 30px !important;
  margin-right: 5px;
  padding: 0px 10px;
  cursor: pointer;
  display: flex;
  border-radius: 20px;
  white-space: nowrap;
  /* background: #c3c5ff; */
  font-size: 15px;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  position: relative;
    color: var(--tertiary-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.assignment_top_bar .tabs .tab::after {
  content: "";
  height: 3px;
  width: 20px;
  position: absolute;
  bottom:0;
  margin-bottom: -8px;
  background: var(--primary-color);
  border-radius: 10px 10px 0 0;
  transition: 0.2s ease;
  transform: scale(0);
}
.assignment_top_bar .tabs .tab i {
  margin-right: 5px;
}
.assignment_top_bar .tabs .tab.active::after {
  transform: scale(1);
  width: calc(100% - 20px);
}
.assignment_top_bar .tabs .tab.active {
  background: #ebecff;
}
.assignment_top_bar .tabs .tab.active {
  color: var(--primary-color);
  font-weight: 600;
}
.assignment_top_bar .tabs .tab:hover::after {
  transform: scale(1);
}
.assignment_top_bar .tabs .tab:hover {
  color: var(--primary-color);
}