.otp_input{
    display: flex;
    gap: 5px;
    width: 300px;

}
.otp_input input{
    background-color: var(--bg-dull);
    border: 2px solid var(--border-light) !important;
    border-radius: 5px;
    color: var(--text-color);
    border-radius: 5px;
    outline: none;
    height: 50px;
    padding: 0;
    flex: 1;
    min-width: 0;
    text-align: center;
    font-size: 20px;
}
.otp_input input:focus{
    border: 2px solid var(--border-gray) !important;
}