.option_selector{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-bottom: 20px;
    position: relative;
    /* min-width: 100px; */
    height: 100%;
}
.option_selector select{
    font-family: "Manrope", sans-serif;
    position: relative;
    font-weight: 400 !important;
    border: none;
    background: transparent;
    font-size: 14px;
    border-radius: 5px;
    padding: 20px 12px 10px 15px;
    outline: none;
    z-index: 1;
    border: 1px solid #e2e2e2; 
    border-bottom: 2px solid #e2e2e2; 
    transition: .2s ease;
}
.option_selector option{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}
.option_selector select:focus ~ label{
    top: 10px !important;
    font-size: 10px !important;
    z-index: 0 !important;
    color: var(--primary-color);
}
.option_selector select option{
    border: 1px solid #e2e2e2;
}
.option_selector select:focus{
    border-bottom:2px solid var(--primary-color);
}
.option_selector select:placeholder-shown::placeholder{
    opacity: 0;
}
.option_selector select:focus::placeholder{
    opacity: 1;
}
.option_selector select:placeholder-shown ~ label{
    top: 50%;
    z-index: 0;
    font-size: 14px;
}
.option_selector label{
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 5px;
    z-index: 0;
    height: fit-content;
    transition: .2s ease;
    bottom: 50%;
    color: #707070;
    transform: translate(0%,-50%);
}