.classroom_page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    position: relative;
}
.classroom_page .navigation{
    width: 100%;
    height: 45px;
    position: sticky;
    top: 0px !important;
    background-color: #ffffff;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #c0c0c0;
    z-index: 100;
    left: 0;
}
.classroom_page .navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 15px;
    align-items: center;
    justify-content: start;
    height: 100%;
    overflow-x: scroll;
}
.classroom_page .navigation ul::-webkit-scrollbar{
    display: none;
}
.classroom_page .navigation ul li{
    height: 30px;
    margin-right: 5px;
    padding: 0px 10px;
    cursor: pointer;
    display: flex;
    border-radius: 20px;
    white-space: nowrap;
    /* background: #c3c5ff; */
    font-size: 15px;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
    position: relative;
}

.classroom_page .navigation ul li::after{
    content: "";
    height:3px;
    width: 20px;
    position: absolute;
    bottom: 0px;
    margin-bottom: -8px;
    background: var(--primary-color);
    border-radius: 10px 10px 0 0 ;
    transition: .2s ease;
    transform: scale(0);
}
.classroom_page .navigation ul li i{
    margin-right: 5px;
}
.classroom_page .navigation ul li .tab_link{
    color: var(--tertiary-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.classroom_page .navigation ul li.active::after{
    transform: scale(1);
    width: calc(100% - 20px);
}
.classroom_page .navigation ul li.active{
    background: #ebecff;
}
.classroom_page .navigation ul li.active .tab_link{
    color: var(--primary-color);
    font-weight: 600;
}
.classroom_page .navigation ul li:hover::after{
    transform: scale(1);
}
.classroom_page .navigation ul li .tab_link:hover{
    color: var(--primary-color);
}
.classroom_page .main_content{
    width: calc(100% - 30px);
    max-width: 54.5rem;
    margin-top: 30px;
}
.classroom_page .main_content .banner{
    height: 13rem;
    background-size: cover;
    width: 100%;
    border-radius:10px;
    display: flex;
    align-items: end;
    justify-content: start;
    background-position: center;
    position: relative;
}
.classroom_page .main_content .banner .banner_settings{
    position: absolute;
    cursor: pointer ;
    bottom:10px;
    color: white;
    right: 10px;
}
.classroom_page .main_content .banner .banner_settings i{
    transition: .3s ease;
    padding: 5px;
    border-radius: 50%;
}
.classroom_page .main_content .banner .banner_settings i:hover{
    transform: rotate(45deg);
    color: black;
    background: white;
}
.classroom_page .main_content .banner h1{
    padding: 20px;
    margin: 0;
    color: white;
    position: relative;
    font-size: 30px;
}
@media screen and (max-width: 640px) {
    .classroom_page .main_content .banner{
        height: 10rem;
        background-size: cover;
        width: 100%;
        border-radius:10px;
        background-position: center;
    }
    .classroom_page .main_content .banner h1{
        font-size: 25px;
    }
    .classroom_page .navigation ul{
        justify-content: center;
    }
}
.classroom_page .main_content .classroom_cards{
    margin-top: 30px;
}
.classroom_page .main_content .classroom_cards .classroom_card{
    width: calc(100% - 2px);
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    margin-bottom: 20px;
}
.classroom_page .main_content .classroom_cards .classroom_card .tag{
    width: fit-content;
    color: white;
    height: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    border-radius: 10px;
    margin: 0;
}
.classroom_page .main_content .classroom_cards .classroom_card .tags{
    display: flex;
    padding: 10px 20px 0 20px;
}
.classroom_page .main_content .classroom_cards .classroom_card:hover{
    background: rgb(245, 245, 245);
}
.classroom_page .main_content .classroom_cards .classroom_card .tag{
    margin-right: 5px;

}
.classroom_page .main_content .classroom_cards .classroom_card .tag i{
    margin:0 3px;
}
.classroom_page .main_content .classroom_cards .classroom_card .creator_info{
    display: flex;
    align-items: start;
    margin-top: 10px;
    padding: 0 20px;
}
.classroom_page .main_content .classroom_cards .classroom_card .creator_info .icon_image{
    height: 35px;
    width: 35px;
}
.classroom_page .main_content .classroom_cards .classroom_card .creator_info .info{
    margin-left: 10px;
}
.classroom_page .main_content .classroom_cards .classroom_card .creator_info .info h3{
    margin: 0;
    font-size: 0.875rem;
    color: #3C4043;
}
.classroom_page .main_content .classroom_cards .classroom_card .creator_info .info p{
    margin: 0;
    color:#5F6368;
    font-weight: 500;
    font-size: 0.75rem;
}
.classroom_page .main_content .classroom_cards .classroom_card .body{
    position: relative;
    padding: 0 20px 10px 20px;
}
.classroom_page .main_content .classroom_cards .classroom_card .body h4{
    color: black;
    margin: 0;
    margin-top: 10px;
    font-size: 0.925rem;
}
.classroom_page .main_content .classroom_cards .classroom_card .body p{
    white-space: pre-wrap;
    width: 100%;
    font-size: 0.8125rem;
    color: rgba(0,0,0,.87);
    font-weight: 500;
}
.classroom_page .main_content .classroom_cards .classroom_card .due_date{
    color: #5F6368;
    margin: 0px;
    font-size: 12px;
    margin-top: 10px;
    padding: 0 20px 0 20px;
    font-weight: 500;
}
.classroom_page .main_content .classroom_cards .classroom_card .comment{
    height: 40px;
    margin-top: -15px;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #c0c0c0;
    display: flex;
    align-items: center;
    background: rgb(245, 245, 245);
    padding: 0 20px;
    background-size: 1000%;
}
.classroom_page .main_content .classroom_cards .classroom_card .comment button{
    font-size: 15px;
    font-weight: 500;
    color: #5F6368;
    border: none;
    background: transparent;
}
.skeleton_classroom_card .tags .tag{
    width: 50px !important;
    height: 15px !important;
    background: var(--skeleton-background);
    background-size: 220%;
    background-position: right;
    animation: var(--skeleton-animation);
}
.skeleton_classroom_card .creator_info .ske_icon{
    background: var(--skeleton-background);
    animation: var(--skeleton-animation);
    background-position: right;
    background-size: 220%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.skeleton_classroom_card .creator_info .ske_info {
    width: 80px !important;
    height: 35px;
    margin-left: 10px;
}
.skeleton_classroom_card .creator_info .ske_info h3{
    height: 12px;
    background: var(--skeleton-background);
    animation: var(--skeleton-animation);
    border-radius: 20px;
    background-size: 220%;
    background-position: right;
    margin: 0;
    margin-top: 3px;
}
.skeleton_classroom_card .creator_info .ske_info p{
    height: 12px;
    margin: 0;
    width: calc(100% - 10px);
    border-radius: 20px;
    background-size: 220% !important;
    background-position: right;
    animation: var(--skeleton-animation) ;
    margin-top: 5px;
    background: var(--skeleton-background);
}
.skeleton_classroom_card .body h4{
    width: 100%;
    background-size: 220% !important;
    background-position: right ;
    border-radius: 20px;
    height: 20px;
    background: var(--skeleton-background);
    animation: var(--skeleton-animation);
}
.skeleton_classroom_card .body p{
    width: calc(100% - 20px) !important;
    border-radius: 20px;
    height: 10px;
    background-size: 220% !important;
    background-position: right ;
    background: var(--skeleton-background);
    animation: var(--skeleton-animation) ;
}
.skeleton_classroom_card .body p:nth-child(3){
    width: calc(100% - 50px) !important;
}
.skeleton_classroom_card .body p:nth-child(4){
    width: calc(100% - 30px) !important;
}
/* Resource Page */
.ra_page .main_content .top_content{
    width: 100%;
    height: max-content;
}
.ra_page .main_content .mid_content {
    margin-bottom: 15px;
}
.ra_page .main_content .mid_content p{
    white-space: pre-wrap;
    font-weight: 500;
    font-size: 0.9025rem;
    color: #3c4043;
}
.ra_page .main_content .mid_content .attachments h3{
    color: #3C4043;
    font-size: 15px;
}
.ra_page .main_content .mid_content .attachments .data{
    display: flex;
    flex-wrap: wrap;
}
.ra_page .main_content .mid_content .attachments .attachment{
    display: flex;
    border: 1px solid #c0c0c0;
    font-size: 12px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #3C4043;
}
.ra_page .main_content .mid_content .attachments .attachment:hover{
    background: #f3f3f3;
}
.ra_page .main_content .mid_content .attachments .attachment i{
    margin-right: 5px;
}
.ra_page .main_content .header{
    display: flex;
    margin-bottom: 20px;
    position: relative;
    align-items: center;
}
.ra_page .main_content .header .icon i{
    width: 30px ;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}

.ra_page .main_content .header .info .title {
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: start;
    width: 100%;
    margin-left: 10px;
}
.ra_page .main_content .header .info .creator_info{
    display: flex;
    align-items: start;
    margin-top: -2px;
    margin-left: 10px;
}
.ra_page .main_content .header .info .assignment_info{
    margin-left: 10px;
}
.ra_page .main_content .header .info .assignment_info h3{
    margin: 0;
    font-size: 0.875rem;
    color: #3C4043;
}
.ra_page .main_content .header .info .assignment_info p{
    margin: 0;
    color:#5F6368;
    font-weight: 500;
    font-size: 0.75rem;
}
.ra_page .main_content .header .icon .icon_image{
    height: 30px;
    width: 30px;
}
.ra_page .main_content .header .info .creator_info .info h3{
    margin: 0;
    font-size: 0.875rem;
    color: #3C4043;
}
.ra_page .main_content .header .info .creator_info .info p{
    margin: 0;
    color:#5F6368;
    font-weight: 500;
    font-size: 0.75rem;
}


/* Skeleton  */
.ra_page .main_content.skeleton .header .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: var(--skeleton-animation);
}

.ra_page .main_content.skeleton .header .info .title{
    width: 60vw;
    max-width: 60vw;
    animation: var(--skeleton-animation);
    border-radius: 20px;
    height: 35px;
}
.ra_page .main_content.skeleton .header .icon span{
    width: 35px;
    height: 35px;
    animation: var(--skeleton-animation);
}
.ra_page .main_content.skeleton .header .info h3{
    width: 100px;
    height: 15px;
    border-radius: 20px;
    animation: var(--skeleton-animation);
}
.ra_page .main_content.skeleton .header .info p{
    width: 120px;
    height: 10px;
    margin-top: 5px !important;
    border-radius: 20px;
    animation: var(--skeleton-animation);
}
.ra_page .main_content.skeleton .header .info .assignment_info h3{
    width: 100px;
    height: 15px;
    animation: var(--skeleton-animation);
}
.ra_page .main_content.skeleton .mid_content p{
    animation: var(--skeleton-animation);
    border-radius: 20px;
}
.ra_page .main_content.skeleton .mid_content p:nth-child(2){
    width: 90%;
}
.ra_page .main_content.skeleton .mid_content p:nth-child(3){
    width: 70%;
}
.ra_page .main_content .bottom_content .queries .query_card{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
}
.ra_page .main_content .bottom_content .queries .query_card .query_question h3{
    margin: 0;
    padding: 0;
    font-size: 0.925rem;
    color: rgba(0,0,0,.87);
}

.ra_page .main_content .bottom_content .queries .query_card .query_question p:nth-child(2){
    color: rgba(0,0,0,.87);
    font-size: 0.825rem;
    white-space: pre-wrap;
    margin: 0px;
    font-weight: 500;
}
.ra_page .main_content .bottom_content .queries .query_card .query_question p:nth-child(3){
    font-size: 0.75rem;
    color: #5F6368;
    margin: 0;
    font-weight: 500;
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution{
    display: flex;
    align-items: start;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    background: #f3f3f3;
    border: 1px solid #e4e4e4;
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution .solver_logo .icon_image{
    height: 30px;
    width: 30px;
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution .solution_content{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution .solution_content .solver_info{
    display: flex;
    height: fit-content;
    align-items: center;
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution .solution_content .solver_info h3{
    margin: 0;
    font-size: 0.875rem;
    color: #3C4043;
    margin-top: -2px;
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution .solution_content .solver_info p{
    margin: 0;
    color: #5F6368;
    font-weight: 500;
    margin-left: 5px;
    font-size: 0.75rem;
}

.ra_page .main_content .bottom_content .queries .query_card .query_solution .solution_content .solution p{
    color: rgba(0,0,0,.87);
    font-size: 0.825rem;
    margin: 0px;
    white-space: pre-wrap;
    font-weight: 500;
}
.ra_page .main_content .bottom_content .attachments h3{
    color: #3C4043;
    font-size: 15px;
}
.ra_page .main_content .bottom_content .attachments .data{
    display: flex;
    flex-wrap: wrap;
}
.ra_page .main_content .bottom_content .attachments .attachment{
    display: flex;
    border: 1px solid #c0c0c0;
    font-size: 12px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #3C4043;
}
.ra_page .main_content .bottom_content .attachments .attachment:hover{
    background: #f3f3f3;
}
.ra_page .main_content .bottom_content .attachments .attachment i{
    margin-right: 5px;
}

/*** Settings Page ***/
.settings_page{
    width: 100%;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
}
.settings_page .main_content{
    width: calc(100% - 30px);
    max-width: 54.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100px;
}
.settings_page .navbar {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 45.9px;
    margin-top: 30px;
    width: calc(100% - 30px);
    max-width: 54.5rem;
    border: none;
    right:0;
    display: flex;
    justify-content: start;
    background: white;
    align-items: center;
}
.settings_page .navbar h2{
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
    color: var(--tertiary-color);
    cursor: pointer;
}
.settings_page .navbar h2:hover i{
    margin-left: -5px;
    margin-right: 15px;
}
.settings_page .navbar h2 i{
    margin-right:10px;
    font-size: 18px;
    transition: .3s ease;
}
.settings_page .main_content .header p{
    margin: 0;
    color: #5F6368;
    font-size: 0.675rem;
    font-weight: 500;
    margin-top: -10px;
}
.settings_page .main_content .settings_content .input{
    max-width: 400px;
}
.settings_page .main_content .settings_content .input p{
    font-size: 10px;
    color: #5F6368;
    margin-top:-15px;
    text-align: right;
    width: 100%;
    font-weight: 500;
}
.settings_page .main_content .settings_content .submit_area{
    margin-top: 15px;
    display: flex;
    justify-content: start;
}
.settings_page .main_content .settings_content .submit_area button{
    font-size: 0.875rem;
    font-weight: 500;
    padding: 8px 15px;
    border-radius:5px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    margin-right: 5px;
}
.settings_page .main_content .settings_content .submit_area button:first-child{
    background: #dfe0ff;
    color: #5C60F5;
}
.settings_page .main_content .settings_content .submit_area button:last-child{
    background: #5C60F5;
    color: white;
}