.classroom_page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  /* position: relative; */
}
 .navigation.visible{
  display: block;
 }
 .navigation {
  height: 46px !important;
  position: sticky;
  /* overflow-y: hidden; */
  top: 0px;
  background-color: var(--bg-dull);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--border-gray);
  z-index: 100000;
  width: calc(100vw - 0px);
  left: 0;
  display: none;
  transition: .3s ease;
  /* right: 0; */
}
 .navigation::-webkit-scrollbar {
  display: none;
}
 .navigation.open{
  width: calc(100vw - 280px);
  left: 280px;
}
 .navigation .tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  display: flex;
  padding-left: 15px;
  align-items: center;

  height: 100%;
  overflow: scroll;
}
 .navigation .tabs::-webkit-scrollbar {
  display: none;
}
 .navigation .tabs .tab {
  height: 30px;
  margin-right: 5px;
  padding: 0px 10px;
  cursor: pointer;
  display: flex;
  border-radius: 20px;
  white-space: nowrap;
  /* background: #c3c5ff; */
  font-size: 15px;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  position: relative;
}

 .navigation .tabs .tab::after {
  content: "";
  height: 3px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  margin-bottom: -8px;
  background: var(--primary-color);
  border-radius: 10px 10px 0 0;
  transition: 0.2s ease;
  transform: scale(0);
}
 .navigation .tabs .tab i {
  margin-right: 5px;
}

 .navigation .tabs .tab .tab_link {
  color: var(--tertiary-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
 .navigation .tabs .tab.active::after {
  transform: scale(1);
  width: calc(100% - 20px);
}
 .navigation .tabs .tab.active {
  background: var(--bg-blue-tint);
}
 .navigation .tabs .tab.active span {
  display: block;
}
 .navigation .tabs .tab.active .tab_link {
  color: var(--primary-color);
  font-weight: 600;
}
 .navigation .tabs .tab:hover::after {
  transform: scale(1);
}
 .navigation .tabs .tab .tab_link:hover {
  color: var(--primary-color);
}
.classroom_page .main_content {
  width: calc(100% - 30px);
  max-width: 54.5rem;
  margin-top: 20px;
  padding-bottom: 200px;
}
.classroom_page .main_content .banner {
  height: 13rem;
  background-size: cover;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: end;
  justify-content: start;
  background-position: center;
  position: relative;
}
.classroom_page .main_content .banner .banner_info {
  position: absolute;
  right: 15px;
  fill: white;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  padding: 3px;
}

.classroom_page .main_content .banner .banner_info:hover {
  background: #0000064f;
}
.classroom_page .main_content .banner.banner_active {
  border-radius: 10px 10px 0 0;
}
.classroom_page .main_content .banner h1 {
  padding: 20px;
  margin: 0;
  color: white;
  position: relative;
  font-size: 30px;
}
@media screen and (max-width: 640px) {
  .classroom_page .main_content .banner {
    height: 10rem;
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    background-position: center;
  }
  .classroom_page .main_content .banner h1 {
    font-size: 25px;
  }
   .navigation ul {
    justify-content: center;
  }
   .navigation{
    width: 100vw;
    left: 0;
  }
   .navigation.open{
    width: 100vw;
    left: 0;
  }
}

.classroom_page .main_content .classroom_info.active {
  display: block;
}

.classroom_page .main_content .announcement_section {
  height: auto;
  width: calc(100% - 20px);
  margin-top: 15px;
  padding: 10px;
  box-shadow: 0px 0px 5px var(--bg-shadow);
  border-radius: 10px;
  background: var(--bg-faint  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.classroom_page .main_content .announcement_section .announce_button{
  display: flex;
  cursor: pointer;
  width: 100%;
  align-items: center;
  padding: 6px;
}
.classroom_page .main_content .announcement_section .announce_button:hover .text{
  color: var(--text-color);
}
.classroom_page .main_content .announcement_section .announce_button .text{
  margin-left: 15px;
  color: var(--text-muted);
  font-size: 0.775rem;
  font-weight: 500;
}
.classroom_page .main_content .announcement_section .announce_button .icon{
  height: 2.5rem;
  width: 2.5rem;
}
 .announce_form{
  width: calc(100% - 40px);
  padding: 20px;
}
 .announce_form .title{
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 10px;
}
 .announce_form .btn_group{
  display: flex;
  justify-content: flex-end;
}

.classroom_page
  .main_content
  .announcement_section
  .announcement_btn_settings:hover {
  background: var(--skeleton-light);
}
.classroom_page .main_content .classroom_cards {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.classroom_page .main_content .classroom_cards .classroom_card {
  width: calc(100% - 2px);
  border-radius: 10px;
  border: 1px solid var(--border-light);
  cursor: pointer;
  background-color: var(--bg-faint);
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  /* background-color: #ececec; */
}

.classroom_page .main_content .classroom_cards .classroom_card:hover {
  /* background: rgb(245, 245, 245); */
  background: var(--bg-muted);
}
.classroom_page .main_content .classroom_cards .classroom_card .tag {
  margin-right: 5px;
}
.classroom_page .main_content .classroom_cards .classroom_card .tag i {
  margin: 0 3px;
}
.classroom_page .main_content .classroom_cards .classroom_card .creator_info {
  display: flex;
  margin-top: 10px;
  padding: 5px 15px 0px 15px;
}
.classroom_page .main_content .classroom_cards .classroom_card .creator_info.ra{
  padding: 15px;
  margin-top: 0;
}
.classroom_page
  .main_content
  .classroom_cards
  .classroom_card
  .creator_info
  .icon_image {
  height: 2.5rem;
  width: 2.5rem;
}
.classroom_page
  .main_content
  .classroom_cards
  .classroom_card
  .creator_info
  .info {
    width: calc(100% - 50px);
  margin-left: 10px;
}
.classroom_page
  .main_content
  .classroom_cards
  .classroom_card
  .creator_info
  .info
  h3 {
  margin: 0;
  font-size: 0.875rem;
  color: var(--text-color);

}
.classroom_page
  .main_content
  .classroom_cards
  .classroom_card
  .creator_info
  .info
  p {
  margin: 0;
  color: var(--text-muted);
  font-weight: 500;
  font-size: 0.75rem;
}
.classroom_page .main_content .classroom_cards .classroom_card .body {
  position: relative;
  padding: 0 15px 10px 15px;
}
.classroom_page .main_content .classroom_cards .classroom_card .body h4 {
  color: black;
  margin: 0;
  margin-top: 10px;
  font-size: 0.925rem;
}
.classroom_page .main_content .classroom_cards .classroom_card .body p {
  white-space: pre-wrap;
  width: 100%;
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}
.classroom_page .main_content .classroom_cards .classroom_card .due_date {
  color: var(--text-muted);
  margin: 0px;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 20px 0 20px;
  font-weight: 500;
}
.classroom_page .main_content .classroom_cards .classroom_card .comment {
  height: 40px;
  margin-top: -15px;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #c0c0c0;
  display: flex;
  align-items: center;
  background: rgb(245, 245, 245);
  padding: 0 20px;
  background-size: 1000%;
}
.classroom_page .main_content .classroom_cards .classroom_card .comment button {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-muted);
  border: none;
  background: transparent;
}
.skeleton_classroom_card .tags .tag {
  width: 50px !important;
  height: 15px !important;
  background: var(--skeleton-background);
  background-size: 220%;
  background-position: right;
  animation: var(--skeleton-animation);
}
.skeleton_classroom_card .creator_info .ske_icon {
  background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  background-position: right;
  background-size: 220%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.skeleton_classroom_card .creator_info .ske_info {
  width: 80px !important;
  height: 35px;
  margin-left: 10px;
}
.skeleton_classroom_card .creator_info .ske_info h3 {
  height: 12px;
  background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  border-radius: 20px;
  background-size: 220%;
  background-position: right;
  margin: 0;
  margin-top: 3px;
}
.skeleton_classroom_card .creator_info .ske_info p {
  height: 12px;
  margin: 0;
  width: calc(100% - 10px);
  border-radius: 20px;
  background-size: 220% !important;
  background-position: right;
  animation: var(--skeleton-animation);
  margin-top: 5px;
  background: var(--skeleton-background);
}
.skeleton_classroom_card .body h4 {
  width: 100%;
  background-size: 220% !important;
  background-position: right;
  border-radius: 20px;
  height: 20px;
  background: var(--skeleton-background);
  animation: var(--skeleton-animation);
}
.skeleton_classroom_card .body p {
  width: calc(100% - 20px) !important;
  border-radius: 20px;
  height: 10px;
  background-size: 220% !important;
  background-position: right;
  background: var(--skeleton-background);
  animation: var(--skeleton-animation);
}
.skeleton_classroom_card .body p:nth-child(3) {
  width: calc(100% - 50px) !important;
}
.skeleton_classroom_card .body p:nth-child(4) {
  width: calc(100% - 30px) !important;
}
.skeleton_classroom_card:hover{
  background: none !important;
  pointer-events: none !important;
}
/* Resource Page */
.ra_page{
    width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.ra_page .main_content{
  padding-bottom: 80px;
}
.attendance_list{
  padding-bottom: 57px;
  overflow-y: scroll;
  height: calc(100% - 20px);
}
.attendance_list .attendance_box:last-child{
  border-bottom: none;
}
.attendance_list .attendance_box{
  display: flex;
  border-bottom: 1px solid var(--border-gray);
  padding: 10px 20px;
  cursor: pointer;
}
.attendance_list .attendance_box:hover{
  background: var(--bg-lighter);
}
.attendance_list .attendance_box .left{
  display: flex;
  position: relative;
  width: calc(100% - 50px);
  align-items: center;
}
.attendance_list .attendance_box:hover .left::after{
  background: linear-gradient(to left, var(--bg-light) , transparent);
}
.attendance_list .attendance_box .left::after{
  content: '';
  width: 10px;
  height: 100%;
  background: linear-gradient(to left, var(--gray-100) , transparent);
  position: absolute;
  right: 0;
  top: 0;
}
.attendance_list .attendance_box .left .icon{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  margin-right: 10px;
}
.attendance_list .attendance_box .left .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: calc(100% - 45px);
  height: fit-content;
}
.attendance_list .attendance_box .left .info h3{
  margin: 0;
  margin: 0;
  font-size: 0.9rem;
  width: 1000px;
  font-weight: 600;
  color: var(--text-color);
}
.attendance_list .attendance_box .left .info p{
  margin: 0;
  width: 1000px;
    margin-top: 0px;
  margin-top: -3px;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-muted);
}
.attendance_list .attendance_box .right{
  display: flex;
  width: 50px;
  align-items: center;
  margin-left: auto;
  color: var(--text-muted);
}
.attendance_list .button_group{
  padding: 10px 20px;
  border-top: 1px solid var(--border-gray);
  position: fixed;
  bottom: 0;
  background: var(--gray-100);
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
}
.ra_page .main_content .ra_bottom_bar {
  position: fixed;
  width: 100vw;
  right: 0;
  top: calc(100vh - 55px);
  background-color: var(--bg-dull);
  backdrop-filter: blur(20px);
  border-top: 1px solid var(--border-gray);
  display: flex;
  padding: 10px 0;
  z-index: 999;
  justify-content: flex-end;
}
.ra_page .main_content .ra_bottom_bar button.btn_border_left {
  position: relative;
  margin-right: 20px;
}
.ra_page .main_content .ra_bottom_bar button.btn_border_left::after {
  content: "";
  position: absolute;
  top: 20%;
  right: -14px;
  width: 1px;
  height: 60%;
  background: #c0c0c0;
}
.ra_page .main_content .ra_bottom_bar button {
  margin: 0 5px;
  border: none;
}
.ra_page .main_content .ra_bottom_bar button:last-child {
  margin-right: 20px !important;
}
.ra_page .main_content .top_content {
  width: 100%;
  height: max-content;
}
.ra_page .main_content .mid_content {
  margin-bottom: 15px;
}
.ra_page .main_content .mid_content p {
  white-space: pre-wrap;
  font-weight: 500;
  font-size: 0.9025rem;
  color: var(--text-color);
}
.ra_page .main_content .mid_content .attachments h3 {
  color: var(--text-color);
  font-size: 15px;
}
.ra_page .main_content .mid_content .attachments .data {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.ra_page .main_content .mid_content .attachments .attachment_item {
  display: flex;
  border: 1px solid var(--border-gray);
  font-size: 12px;
  width: fit-content;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}
.ra_page .main_content .mid_content .attachments .attachment_item:hover {
  background: var(--bg-dull);
}
.ra_page .main_content .mid_content .attachments .attachment_item .attachment {
  display: flex;
  padding: 5px 10px;
  border: none;
  margin: 0;
}
.ra_page
  .main_content
  .mid_content
  .attachments
  .attachment_item
  .attachment:hover {
  background: transparent;
}
.ra_page .main_content .mid_content .attachments .attachment_item .delete_btn {
  background: #c0c0c0;
  margin-left: 0px;
  width: 30px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ra_page .main_content .mid_content .attachments .attachment {
  display: flex;
  border: 1px solid #c0c0c0;
  font-size: 12px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}
.ra_page .main_content .mid_content .attachments .attachment:hover {
  background: var(--bg-dull);
}
.ra_page .main_content .mid_content .attachments .attachment i {
  margin-right: 5px;
}
.ra_page .main_content .header .icon i{
  background-color: rgb(var(--bg));
}
.ra_page .main_content .header {
  display: flex;
  margin-bottom: 15px;
  position: relative;
  align-items: flex-start;
}
.ra_page .main_content .attendance_button button{
  background-color: rgb(var(--bg));
  border-radius: 20px;
}
.ra_page .main_content .mid_content .inputs {
  display: flex;
  gap: 15px;
  margin-bottom: -20px;
}
.ra_page .main_content .tags{
  display: flex;
}
.ra_page .main_content .tags .tag{
  background-color: rgb(var(--bg));
  padding: 4px 10px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 20px;
  color: white;
}
.ra_page .main_content .tags .tag i{
  margin-right: 3px;
}
.ra_page .main_content .header .icon i {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
}

.ra_page .main_content .header .info .title {
  font-weight: 500;
  font-size: 25px;
  display: flex;
  color: var(--text-color);
  align-items: start;
  width: 100%;
  margin-top: -5px;
  margin-left: 10px;
}
.ra_page .main_content .header .info .creator_info {
  display: flex;
  align-items: start;
  margin-top: -2px;
  margin-left: 10px;
}
.ra_page .main_content .header .info .assignment_info {
  margin-left: 10px;
}
.ra_page .main_content .header .info .assignment_info h3 {
  margin: 0;
  font-size: 0.875rem;
  color: var(--text-color);
}
.ra_page .main_content .header .info .assignment_info p {
  margin: 0;
  color: var(--text-muted);
  font-weight: 500;
  font-size: 0.75rem;
}
.ra_page .main_content .header .icon .icon_image {
  height: 30px;
  width: 30px;
}
.ra_page .main_content .header .info .creator_info .info h3 {
  margin: 0;
  font-size: 0.875rem;
  color: var(--text-color);
}
.ra_page .main_content .header .info .creator_info .info p {
  margin: 0;
  color: var(--text-muted);
  font-weight: 500;
  font-size: 0.75rem;
}

/* Skeleton  */
.ra_page .main_content.skeleton .header .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: var(--skeleton-animation);
}

.ra_page .main_content.skeleton .header .info .title {
  width: 250px;
  max-width: 60vw;
  animation: var(--skeleton-animation);
  border-radius: 20px;
  height: 35px;
}
.ra_page .main_content.skeleton .header .icon span {
  width: 35px;
  height: 35px;
  animation: var(--skeleton-animation);
}
.ra_page .main_content.skeleton .header .info h3 {
  width: 100px;
  height: 15px;
  border-radius: 20px;
  animation: var(--skeleton-animation);
}
.ra_page .main_content.skeleton .header .info p {
  width: 120px;
  height: 10px;
  margin-top: 5px !important;
  border-radius: 20px;
  animation: var(--skeleton-animation);
}
.ra_page .main_content.skeleton .header .info .assignment_info h3 {
  width: 100px;
  height: 15px;
  animation: var(--skeleton-animation);
}
.ra_page .main_content.skeleton .mid_content p {
  animation: var(--skeleton-animation);
  border-radius: 20px;
}
.ra_page .main_content.skeleton .mid_content p:nth-child(2) {
  width: 90%;
}
.ra_page .main_content.skeleton .mid_content p:nth-child(3) {
  width: 70%;
}
.ra_page .main_content .bottom_content .queries .query_card {
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  display: flex;
}
.ra_page .main_content .bottom_content .queries .query_options {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 10;
}
.ra_page .main_content .bottom_content .title{
  color: var(--text-color);
}
.ra_page .main_content .bottom_content .queries .query_options .query_option,
.query_icon {
  height: 22px;
  width: 22px;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--skeleton-light);
  /* box-shadow: 10px 0px 20px #cccccccb; */
  color: var(--text-color);
  margin-bottom: 3px;
  cursor: default;
  border: 1px solid var(--border-light);
}
.ra_page .main_content .bottom_content .queries .query_options .query_option {
  font-size: 12px;
  transform: scale(0);
  cursor: pointer;
  transition: 0.1s ease;
}
.ra_page
  .main_content
  .bottom_content
  .queries
  .query_card:hover
  .query_option {
  transform: scale(1);
}
.ra_page .main_content .bottom_content .queries .query_card .query {
  min-height: 75px !important;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 1px solid var(--skeleton-light);
}
.ra_page
  .main_content
  .bottom_content
  .queries
  .query_card
  .query_question
  div
  h3 {
  margin: 0;
  padding: 0;
  font-size: 0.925rem;
  color: var(--text-color);
}

.ra_page
  .main_content
  .bottom_content
  .queries
  .query_card
  .query_question
  div
  p {
  color: var(--text-muted);
  font-size: 0.825rem;
  white-space: pre-wrap;
  margin: 0px;
  font-weight: 500;
}
.ra_page
  .main_content
  .bottom_content
  .queries
  .query_card
  .query_question
  .query_time {
  font-size: 0.75rem;
  color: var(--text-muted);
  margin: 0;
  font-weight: 500;
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 5px;
  padding:5px 10px;
  border-radius: 10px;
  background: var(--bg-dull);
  border: 1px solid var(--skeleton-light);
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution .student_info{
  display: flex;
  align-items: center;
  margin-left: -39px;
  /* margin-top: -11px; */
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution .student_info .icon{
  height: 24px;
  width: 24px;
  margin-right: 5px;
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution .student_info .name{
  font-size: 0.925rem;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution .student_info .date{
  color: var(--text-muted);
  font-weight: 500;
  font-size: 0.725rem;
  margin-left: 5px;
}
.ra_page .main_content .bottom_content .queries .query_card .query_solution .reply p{
  margin: 0;
    color: var(--text-muted);
  font-weight: 500;
  font-size: 0.825rem;
}
.ra_page .main_content .bottom_content .attachments h3 {
  color: var(--text-color);
  font-size: 15px;
}
.ra_page .main_content .bottom_content .attachments .data {
  display: flex;
  flex-wrap: wrap;
}
.ra_page .main_content .bottom_content .attachments .attachment {
  display: flex;
  border: 1px solid var(--border-gray);
  font-size: 12px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}
.ra_page .main_content .bottom_content .attachments .attachment:hover {
  background: var(--bg-dull);
}
.ra_page .main_content .bottom_content .attachments .attachment i {
  margin-right: 5px;
}

/*** Settings Page ***/
.classroom_settings_page {
  width: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  /* height: 100vh; */
  /* margin-top: 15px; */
}
.classroom_settings_page .main_content {
  width: calc(100% - 30px);
  max-width: 54.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
}
.settings_navbar {
  width: calc(100% - 30px);
  max-width: 54.5rem; 
  height: 50px;
  position: sticky;
  top: 45px;

  /* margin-top: 30px; */
  width: calc(100% - 30px);
  padding: 0 15px;
  max-width: 54.5rem;
  border: none;
  right: 0;
  display: flex;
  margin: 0 auto;
  justify-content: start;
  z-index: 1000;
  border-bottom: 1px solid var(--border-gray);
  align-items: center;
}
.settings_navbar h2 {
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--tertiary-color);
  cursor: pointer;
}
.settings_navbar h2:hover i {
  margin-left: -5px;
  margin-right: 15px;
}
.settings_navbar h2 i {
  margin-right: 10px;
  font-size: 18px;
  transition: 0.3s ease;
}
.classroom_settings_page .main_content .header p {
  margin: 0;
  color: var(--text-muted);
  font-size: 0.675rem;
  font-weight: 500;
  margin-top: 10px;
}
.classroom_settings_page .main_content .settings_content .input {
  width: 100%;
}
.classroom_settings_page .main_content .settings_content .input p {
  font-size: 10px;
  color: var(--text-muted);
  margin-top: -15px;
  text-align: right;
  width: 100%;
  font-weight: 500;
}
.classroom_settings_page .main_content .settings_content .submit_area {
  margin-top: 15px;
  display: flex;
  justify-content: start;
}
.classroom_settings_page .main_content .settings_content .submit_area button {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  margin-right: 5px;
}
.classroom_settings_page
  .main_content
  .settings_content
  .submit_area
  button:first-child {
  background: #dfe0ff;
  color: var(--primary-color);
}
.classroom_settings_page
  .main_content
  .settings_content
  .submit_area
  button:last-child {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: white;
}
.add_content_page {
  width: calc(100% - 30px);
  max-width: 54.5rem;
  background: var(--error);
  height: 50px;
}
.classroom_class_content {
  width: calc(100% - 30px);
  max-width: 54.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
  padding-bottom: 100px;
  margin-top: 20px;
  position: relative;
}
.classroom_class_content .class_division {
  width: 100%;
  margin-bottom: 30px;
}
.classroom_class_content .class_division h2 {
  width: inherit;
  border-bottom: 0.0625rem solid var(--border-light);
  padding-bottom: 10px;
  color: var(--text-color);
  margin: 0;
}
.classroom_class_content .class_division .persons {
  width: inherit;
}
.classroom_class_content .class_division .persons .card {
  width: calc(inherit - 10px);
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid var(--border-light);
  line-height: 50px;
  padding: 0 10px;
  cursor: pointer;
  justify-content: space-between;
}
.classroom_class_content .class_division .persons .card .part {
  display: flex;
  height: 100%;
  align-items: center;
}
.classroom_class_content .class_division .persons .card:hover {
  background: var(--bg-dull);
}
.classroom_class_content .class_division .persons .card .profile_icon {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.classroom_class_content .class_division .persons .card .name {
  color: var(--text-color);
  font-weight: 500;
  text-transform: capitalize;
}
.classroom_class_content .class_division .persons .card .buttons {
  display: flex;
}
.classroom_class_content .class_division .persons .card .view_button {
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.classroom_class_content
  .class_division
  .persons
  .card
  .buttons
  .profile_dropdown {
  padding: 10px 0;
}
.classroom_class_content
  .class_division
  .persons
  .card
  .buttons
  .profile_dropdown
  .dropdown_item {
  padding: 0 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 40px;
  color: var(--text-muted);
}
.classroom_class_content
  .class_division
  .persons
  .card
  .buttons
  .profile_dropdown
  .dropdown_item
  i {
  width: 25px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.classroom_class_content
  .class_division
  .persons
  .card
  .buttons
  .profile_dropdown
  .dropdown_item:hover {
  background: var(--hover-shadow);
}
.stream_loader{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stream_loader span{
  zoom: 1.4;
  border-color: rgb(var(--bg));
  border-top: 2px solid transparent;
}
.classroom_class_content
  .class_division
  .persons
  .card
  .buttons
  .profile_dropdown
  .dropdown_item:last-child:hover {
  /* background-color: ; */
  color: var(--error);
}
.classroom_class_content .class_division .persons .card .view_button:hover {
  background: var(--border-lighter);
}
.class_division.skeleton .persons .card .part .profile_icon {
  background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.class_division.skeleton .persons .card .part .name {
  background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  width: 100px;
  height: 18px;
  border-radius: 20px;
}
.classroom_class_content .user_profile_modal {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px 20px;
}
.classroom_class_content .user_profile_modal .user_icon {
  height: 60px;
  width: 60px;
  position: relative;
}

.classroom_class_content .user_profile_modal .user_avatar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.classroom_class_content .user_profile_modal .user_info_content {
  border-top: 1px solid var(--border-light);
  margin-top: 5px;
  padding-top: 5px;
}
.classroom_class_content .user_profile_modal .user_info_content p {
  color: var(--text-muted);
  font-weight: 500;
  font-size: 0.825rem;
  margin: 0;
  display: flex;
  margin-bottom: 3px;
  align-items: center;
}
.classroom_class_content .user_profile_modal .user_info_content p.tag {
  text-transform: capitalize;
  color: var(--text-color);
  font-weight: 600;
}
.classroom_class_content .user_profile_modal .user_info_content p i {
  color: var(--text-color);
  width: 30px;
  margin-left: -5px;
  display: flex;
  justify-content: center;
}
.classroom_class_content .user_profile_modal .user_info_content p span {
  color: var(--text-muted);
  font-weight: 500;
  font-size: 0.825rem;
  margin: 0;
  width: calc(100% - 20px);
  display: flex;
}
.assignment_submissions {
  width: calc(100%);
  height: calc(100vh - 107px);
  overflow: hidden;
}

.assignment_submissions .as_content{
  display: flex;
  width: 100%;
  height: calc(100vh - 107px);
}
.assignment_submissions .as_content .lists{
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-light);
  width: 300px;
  height: 100%;
  overflow-y: scroll;
}
.assignment_submissions .as_content .lists .student_card{
  padding: 10px 15px;
  width: calc(100% - 30px);
  display: flex;
  border-bottom: 1px solid var(--border-light);
  align-items: center;
  cursor: pointer;
}
.assignment_submissions .as_content .lists .student_card .student_info{
  display: flex;
  align-items: center;
}
.assignment_submissions .as_content .lists .student_card:hover{
  background: var(--bg-dull);
}
.assignment_submissions .as_content .lists .student_card .student_info .icon{
  height: 35px;
  width: 35px;
  position: relative;
  margin-right: 10px;
}
.assignment_submissions .as_content .lists .student_card .student_info .icon .status{
  position: absolute;
  height: 8px;
  border: 2px solid var(--bg-light);
  width: 8px;
  top: -1px;
  right: -2px;
  z-index: 100;
  border-radius: 50%;
}
.assignment_submissions .as_content .lists .student_card:hover .student_info .icon .status{
  border: 2px solid var(--bg-dull);
}
.assignment_submissions .as_content .lists .student_card .student_info .icon .status.orange{
  background: orange;
}
.assignment_submissions .as_content .lists .student_card .student_info .icon .status.red{
  background: red;
}
.assignment_submissions .as_content .lists .student_card .student_info .icon .status.green{
  background: rgb(0, 255, 0);
}
.assignment_submissions .as_content .lists .student_card .student_info .name{
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  justify-content: center;
}
.assignment_submissions .as_content .lists .student_card .student_info .name h3{
  margin: 0;
  font-size: 1.025rem;
}
.assignment_submissions .as_content .lists .student_card .student_info .name p{
  margin: 0;
  margin-top: -3px;
  font-size: 0.825rem;
  font-weight: 500;
  color: var(--text-muted);
}
.assignment_submissions .as_content .lists .student_card.header{
  flex-direction: column;
  height: auto;
  align-items: flex-start;
  cursor: default;
  padding-bottom: 20px;
  background-color: var(--bg-lightest);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.assignment_submissions .as_content .lists .student_card.header h3{
  margin: 0;
  margin-top: 0px;
  margin-bottom: 15px;
  color: var(--text-color);
}
.assignment_submissions .as_content .lists .student_card.header:hover{
  background: var(--bg-lightest);
}
.assignment_submissions .as_content .submissions .default_page{
  padding: 20px;
}
.assignment_submissions .as_content .submissions .default_page .submission_title{
  margin-top: -20px;
}
.assignment_submissions .as_content .submissions .default_page .submission_title h3{
  color: var(--text-color);
}
.assignment_submissions .as_content .submissions .default_page .submission_title h3 i{
  margin-right: 5px;
}
.assignment_submissions .as_content .submissions .default_page .submission_statistics{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.assignment_submissions .as_content .submissions .default_page .submission_statistics .card{
  background: var(--bg-lighter);
  padding: 15px;
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  border: 1px solid var(--border-light);
  background-color: var(--bg-faint);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: .3s ease;  
}
.assignment_submissions .as_content .submissions .default_page .submission_statistics .card:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.assignment_submissions .as_content .submissions .default_page .submission_statistics .card h3{
  text-align: left;
  color: var(--text-muted);
  font-weight: 500;
  margin: 0px;
  font-size: 1rem;
}
.assignment_submissions .as_content .submissions .default_page .submission_statistics .card h1{
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 700;
}
.assignment_submissions .as_content .submissions .default_page .submission_statistics .card h1 span{
  font-size: 20px;
  font-weight: 500;
  color: var(--text-muted);
}
.assignment_submissions .as_content .submissions .default_page .submission_statistics .card h1 span.non_h1{
  color: var(--text-color);
}
.assignment_submissions .as_content .submissions .default_page .submission_statistics .card p{
  margin: 0;
  color: var(--text-muted);
  margin-top: -5px;
  font-weight: 400;
  font-size: 0.825rem;
}
.assignment_submissions .as_content .submissions .default_page .submission_statistics .card .icon{
  margin-left: 40px;
  font-size: 1.3rem;
  height: 50px;
  width: 50px;
  background: var(--bg-blue-tint);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  border-radius: 50%;
}
.assignment_submissions .as_content .submissions .default_page .submission_title.instructions h4{
  color: var(--text-color);
  font-weight: 500;
  /* margin: 0; */
}
.assignment_submissions .as_content .submissions .default_page .submission_title.instructions{
  margin-top: 20px;
}
.assignment_submissions .as_content .submissions .default_page .submission_title.instructions p{
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.825rem;
  margin: 0;
}
.assignment_submissions .as_content .submissions .default_page .submission_title.instructions p span{
  height: 12px;
  width: 12px;
  background: var(--error);
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.assignment_submissions .as_content .submissions .default_page .submission_title.instructions p span.orange{
  background: orange;
}
.assignment_submissions .as_content .submissions .default_page .submission_title.instructions p span.red{
  background: var(--error);
}
.assignment_submissions .as_content .submissions .default_page .submission_title.instructions p span.green{
  background: rgb(0, 255, 0);
}
.assignment_submissions .as_content .submissions{
  width: calc(100% - 300px);
}
.assignment_submissions .as_content .submissions .submission_page{
  position: relative;
  width: 100%;
  height: 500px;
}
.assignment_submissions .as_content .submissions .submission_page .submission_navbar{
  height: 50px;
  position: sticky;
  display: flex;
  top: 0;
  background: var(--bg-lightest);
  border-bottom: 1px solid var(--border-light);
  align-items: center;
  width: 100%;
}
.assignment_submissions .as_content .submissions .submission_page .submission_navbar .back{
  margin-left: 15px;
  cursor: pointer;
  font-size: 18px;
  color: var(--text-muted);
  transition: .3s ease;
}
.assignment_submissions .as_content .submissions .submission_page .submission_navbar .back:hover{
  margin-left: 12px;
  margin-right: 3px;
}
.assignment_submissions .as_content .submissions .submission_page .submission_navbar > div{
  display: flex;
  align-items: center;
}
.assignment_submissions .as_content .submissions .submission_page .submission_navbar .user_icon{
  height: 35px;
  width: 35px;
  margin-left: 15px;
}
.assignment_submissions .as_content .submissions .submission_page .submission_navbar .user_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.assignment_submissions .as_content .submissions .submission_page .submission_navbar .user_info h3{
  margin: 0;
  margin-left: 10px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1rem;
}
.assignment_submissions .as_content .submissions .submission_page .submission_navbar .user_info p{
  margin: 0;
  color:var(--text-muted);
  font-weight: 500;
  margin-left: 10px;
  font-size: 0.825rem;
  margin-top: -3px;
}
.assignment_submissions .as_content .submissions .submission_page .submission_content{
  padding: 20px;
  height: calc(100vh - 197px);
  overflow-x: hidden;
  overflow-y: scroll;
}
.assignment_submissions .as_content .submissions .submission_page .submission_content .submission_info h3{
  margin: 0;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1rem;
}
.assignment_submissions .as_content .submissions .submission_page .submission_content .submission_info p{
  margin: 0;
  color:var(--text-muted);
  font-weight: 500;
  font-size: 0.825rem;
  margin-top: -3px;
}
.assignment_submissions .as_content .submissions .submission_page .submission_content .submission_file .files{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.resource_doubts{
  width: calc(100% - 30px);
  max-width: 54.5rem;
}
.resource_doubts .header h3{
  color: var(--text-color);
}
.resource_doubts .doubts{
  width: 100%;
}
.resource_doubts .doubts .doubt{
  width: calc(100% - 30px);
  margin-bottom: 10px;
  border: 1px solid var(--border-light);
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: var(--bg-faint);
}
.resource_doubts .doubts .doubt:hover{
  background: var(--bg-dull);
}
.resource_doubts .doubts .doubt .student_info{
  display: flex;
  align-items: center;
}
.resource_doubts .doubts .doubt .student_info .student_icon{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.resource_doubts .doubts .doubt .student_info .student_name{
  font-size: 0.825rem;
  font-weight: 500;
  color: var(--text-color);
}
.resource_doubts .doubts .doubt .student_info .doubt_date{
  color: var(--text-muted);
  font-weight: 500;
  font-size: 0.625rem;
  margin-left: 5px;
}
.resource_doubts .doubts .doubt .student_info .add_text{
  margin: 0;
  color: var(--text-muted);
  font-size: 0.625rem;
  margin-right: 3px;
}
.resource_doubts .doubts .doubt .doubt_content{
  margin: 0;
  margin-top: 5px;
}
.resource_doubts .doubts .doubt .doubt_content h4{
  margin: 0;
  font-weight: 500;
  color: var(--text-color);
  font-size: 0.925rem;
}
.resource_doubts .doubts .doubt .doubt_content p{
  color: var(--text-muted);
  font-weight: 500;
  font-size: 0.725rem;
  margin: 0;
}
.resource_doubts .doubts .doubt .doubt_reply{
  margin-top: 5px;
  display: flex;
}
.resource_doubts .doubts .doubt .doubt_reply .tag{
  display: flex;
}
.resource_doubts .doubts .doubt .doubt_reply .tag p{
  background-color: rgba(255, 0, 0, 0.11);
  color: var(--error);
  border: 1px solid var(--error);
  padding: 2px 5px;
  font-size: 10px;
  border-radius: 20px;
  margin: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resource_doubts .doubts .doubt .doubt_reply .tag p.active{
  color: rgb(0, 161, 0);
  border-color: rgb(0, 161, 0);
  background-color: rgba(0, 255, 0, 0.11);
}
.resource_doubts .doubts .doubt .doubt_reply .solver_info{
  margin-left: 5px;
}
.resource_doubts .doubts .doubt .doubt_reply .solver_info .student_icon{
  height: 18px;
  width: 18px;
}
.resource_doubts .doubts .doubt .doubt_reply .solver_info .student_name{
  font-size: 0.725rem;
  font-weight: 500;
  color: var(--text-color);
}
.doubt_modal .doubt_content{
  padding:5px 20px;
  font-size: 0.825rem;
  color: var(--text-muted);
  font-weight: 500;
}
.doubt_modal .student_info{
  padding: 0 20px ;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  border-bottom: 1px solid var(--border-light);
  padding-bottom: 5px;
}
.doubt_modal .student_info .icon{
  height: 18px;
  width: 18px;
}
.doubt_modal .student_info .student_name{
  margin: 0;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--text-color);
  font-size:  0.725rem;
}
.doubt_modal .student_info .date{
  color: var(--text-muted);
  font-size: 0.625rem;
  font-weight: 500;
  margin: 0;
  margin-left: 5px;
}
.doubt_modal .doubt_reply{
  padding: 0 20px;
  margin-top: 20px;
  height: max-content;
}
.doubt_modal .doubt_reply textarea{
  color: var(--text-color);
}
.doubt_modal .button_group{
  display: flex;
  padding: 20px;
  margin-top: -25px;
}
.skeleton_doubt{
  height: 90px;
  pointer-events: none;
}
.skeleton_doubt .student_icon{
  height: 18px;
  width: 18px;
  border-radius: 50%;
    background: var(--skeleton-background);
  animation: var(--skeleton-animation);
}
.skeleton_doubt .student_info{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.skeleton_doubt .student_info .student_name{
  height: 0.825rem;
  width: 80px;
    background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  border-radius: 10px;
}
.skeleton_doubt .student_info .doubt_date{
  height: 0.625rem;
  width: 60px;
    background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  border-radius: 5px;
}
.skeleton_doubt .doubt_content h4{
  height: 0.825rem;
  width: calc(100% - 50px);
    background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  border-radius: 10px;
  margin-bottom: 5px !important;
}
.skeleton_doubt .doubt_content p{
  height: 0.625rem;
  width: calc(100% - 80px);
    background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  border-radius: 5px;
  margin-bottom: 2px !important;
}
.skeleton_doubt .doubt_content p:nth-child(2){
  width: calc(100% - 60px);
}
.skeleton_doubt .doubt_reply{
  height: 20px !important;
}
.skeleton_doubt .doubt_reply .tag{
    background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  padding: 2px 5px;
  height: 10px;
  border-radius: 20px;
  margin: 0;
  width: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skeleton_doubt:hover{
  background: none !important;
}
.classroom_about{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.classroom_about .head{
  color: var(--text-color);
  margin-top: -10px;
}
.classroom_about .head h2{
  margin: 0;
  padding: 0;
}
.classroom_about .head h3{
  margin: 0;
  margin-top: -5px;
  color: var(--text-muted);
}
.classroom_about .about_content{
  margin-top: 10px;
}
.classroom_about .about_content h3{
  color: var(--text-color);
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
.classroom_about .about_content p{
  color: var(--text-muted);
  margin: 0;
  font-weight: 500;
  font-size: 0.825rem;
}
.classroom_about .about_content .creator_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.classroom_about .about_content .creator_info .title{
  color: var(--text-color);
  margin: 0;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 500;
}
.classroom_about .about_content .creator_info >div {
  display: flex;
}
.classroom_about .about_content .creator_info .icon{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.classroom_about .about_content .creator_info .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.classroom_about .about_content .creator_info .info h3{
  margin: 0;
  font-size: 0.875rem;
  color: var(--text-color);
  margin-top: -2px;
}
.classroom_about .about_content .creator_info .info p{
  margin: 0;
  color: var(--text-muted);
  font-weight: 500;
  font-size: 0.75rem;
  margin-top: -2px;
}
.classroom_about .bottom_content{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.classroom_about .bottom_content p{
  color: var(--text-color);
  margin: 0;
  font-weight: 500;
  font-size: 0.85rem;
  margin-right: 10px;
}
.new_nav{
  display: flex;
  position: sticky;
  width: calc(100% - 20px);
  background: var(--bg-dull);
  padding: 0 10px;
  left: 0;
  top: 0;
  border-bottom: 1px solid var(--border-gray);
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.new_nav .title{
  display: flex;
  align-items: center;

}
.new_nav .title .close{
  font-size: 1.3rem;
  color: var(--text-muted);
  width: 40px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  height: 40px;
}
.new_nav .title .close:hover{
  background-color: var(--border-lighter);
}
.new_nav .title .icon{
  height: 30px;
  margin-left: 5px;
  width: 30px;
}
.new_nav .title .icon i{
  font-size: 16px;
  color: rgb(var(--bg));

}
.new_nav .title span{
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 5px;
}
.new_work{
  background-color: var(--bg-lighter);
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  height: calc(100vh - 111px);
}
.new_work .form{
  margin: 0 auto;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  flex-grow: 1;
  background: transparent;
  height: calc(100vh - 111px);
  overflow-y: scroll;
  position: relative;
  align-items: center;
}
.new_work .options{
  /* width: 100%; */
  width: 300px;
  border-left: 1px solid var(--border-gray);
  height: calc(100vh - 151px);
  padding: 20px;
  background: var(--bg-dull);
}
@media screen and (max-width: 800px){
  .new_work .options{
    width: 200px;
    min-width: 0;
  }
  
}
.new_work .form .inner_form{
  display: flex;
  flex-direction: column;
  width: calc(100% - 80px);
  margin: 20px;
  padding: 20px;
  margin-bottom: 0;
  background-color: var(--bg-dull);
  border-radius: 5px;
  border: 1px solid var(--border-gray);
  /* max-width: 900px; */
}
.new_work .form .inner_form .input-field_sec{
  margin-bottom: 5px;
}
.new_work .form .inner_form >span{
  font-size: 0.725rem;
  margin-left: 5px;
  color: var(--text-muted);
  margin-bottom: 20px;
}
.new_work .form .inner_form .text-area{
  margin-bottom: 0px;
}
.new_work .form .inner_form h3{
  margin: 0;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
.new_work .form .inner_form .attachments{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
.new_work .form .inner_form .file_input_label{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  font-size: 15px;
  margin: 0 auto;
  position: relative;
  color: var(--text-color);
  background-color: var(--bg-lightest);
  margin-bottom: 40px;
}
.new_work .form .inner_form .file_input_label:hover{
  background-color: var(--bg-dull);
}
.new_work .form .inner_form .file_input_label::after{
  content: "Upload";
  position: absolute;
  color: var(--text-muted);
  bottom: -25px;
}
.new_work .options .input-field_sec{
  height: 53px;
  width: 100%;
}
.new_work .options .custom_topic{
  position: relative;
  display: flex;
  height: 53px;
  width: 100%;
}
.new_work .options .topic_input .option_selector{
  width: 100%;
  max-width: 100% !important;
}
.new_work .options .custom_topic span{
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 1000;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-muted);
  bottom: 50%;
  height: 100%;
  transform: translate(-50%,-50%);
}
.new_work .options h3{
  margin: 0;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media screen and (max-width: 650px){
  .new_work{
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .new_work .form{
    width: 100%;
    height: max-content;
    overflow: visible;
  }
  .new_work .options{
    width: calc(100% - 41px);
    height: 100%;
  }
  .new_work .form .inner_form{
    margin: 0;
    width: calc(100% - 40px);
  }
}
.class_work{
  width: calc(100% - 30px);
  max-width: 54.5rem;
  padding-bottom: 50px;
}
.class_work .header h2{ 
  margin: 0;
  margin-top: 20px;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.class_work .header >div{
  display: flex;
  padding-bottom: 10px;
}
.class_work .topic_container .topic_title{
  font-size: 1.4rem;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-light);
  padding: 15px;
  font-weight: 500;
}
.class_work .topic_container.skeleton{
  margin-top: 20px;
}
.class_work .topic_container.skeleton .topic_title{
  width: 100px;
  font-size: 0.125rem;
    background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  border-radius: 30px;
  margin-left: 15px;
}
.class_work .topic_container .topic_cards .topic_card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 50px);
  height: 40px;
  color: var(--text-color);
}
.class_work .topic_container .topic_cards .topic_card .info .date{
  font-size: 0.825rem;
  color: var(--text-muted);
  font-weight: 500;
}
.class_work .topic_container.skeleton .topic_cards .topic_card .info .date{
  width: 100px;
  font-size: 0.525rem;
    background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  border-radius: 30px;
}
.class_work .topic_container .topic_cards .topic_card .info h3{
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.925rem;
  font-weight: 600;
  margin: 0;
}
.class_work .topic_container.skeleton .topic_cards .topic_card .info h3{
    background: var(--skeleton-background);
  animation: var(--skeleton-animation);
  width: 120px;
  border-radius: 20px;
}
.class_work .topic_container .topic_cards .topic_card .icon{
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
  color: rgb(var(--bg));
  background-color: rgba(var(--bg), 0.1);
}
.class_work .topic_container.skeleton .topic_cards .topic_card .icon{
    background: var(--skeleton-background);
  animation: var(--skeleton-animation);
}
.class_work .topic_container .topic_cards .topic_card{
  padding:5px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-light);
  cursor: pointer;
}
.class_work .topic_container .topic_cards .topic_card:hover{
  background-color: var(--bg-dull);
  border-radius: 5px;
}
.class_work .topic_container.skeleton .topic_cards .topic_card{
  pointer-events: none;
  user-select: none;
}
.class_work .topic_container.skeleton .topic_cards .topic_card:hover{
  background: transparent;
}
.class_work .topic_container{
  margin-bottom: 20px;
}