.home_content{
    padding: 10px 30px;
    color: var(--tertiary-color);
    height: auto;
    min-width: 300px;
    background-color: var(--bg-lightest);
}
.home_content .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    width: fit-content;
}
.home_content .header .emoji{
    font-size: 40px;
}
.home_content .header .text{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home_content .header .text p,h1{
    margin: 0;
}
.home_content .classrooms{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.home_content .classrooms .classroom_card{
    width: 30%;
    min-width: 350px;
    height: 150px;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    margin: 10px;
    background-size: auto 100% !important;
    background-position: center !important;
    margin-left: 0px;
    cursor: pointer;
    transition: .3s ease;
    margin-right: 20px;
    overflow: hidden;
}
.home_content .classrooms .classroom_card::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, var(--black-weaker), transparent);
    z-index: 0;
}
.home_content .classrooms .classroom_card .poster_img{
    height: 100%;
    position: absolute;
    left: 0px;
}
.home_content .classrooms .classroom_card .content{
    z-index: 1;
    overflow-y: hidden;
    width: calc(100% - 40px);
    height: 110px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home_content .classrooms .classroom_card .content::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent,#00000050);
    z-index: 0;
}
.home_content .classrooms .classroom_card .content .creator_info{
    /* font-weight: 500; */
    width: 100%;
    display: flex;
    width: fit-content;
    border-radius: 20px;
    align-items: center;
    z-index: 1;
    margin-bottom: -5px;
}
.home_content .classrooms .classroom_card .content .creator_info .creator_name{
    font-size: .875rem;
    /* font-weight: 500; */
    margin-left: 10px;
}
.home_content .classrooms .classroom_card .content .creator_info .creator_icon{
    height: 30px;
    width: 30px;
}
.home_content .classrooms .classroom_card .content h2{
    margin: 0;
    padding: 0;
    width: 100%;
    word-wrap: break-word;
    white-space: nowrap;
}
.home_content .classrooms .classroom_card .content p{
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
}

.home_content .classrooms .classroom_card:hover{
    box-shadow: 0px 10px 10px var(--bg-shadow);
    transform: translateY(-3px);
}
@media screen and (max-width:690px){
    .home_content{
        padding: 10px 15px;
    }
    .home_content .classrooms .classroom_card{
        width: calc(100% - 00px);
        margin: 0px;
        margin-bottom:15px;
        min-width: 0px;
    }
}