.file_view{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid #e2e2e2;
    width: fit-content;
    border-radius: 10px;
    transition: .3s ease;
}
.file_view .preview{
    border-radius: 10px 10px 0 0;
    height: 80px;
    border-bottom: 1px solid #e2e2e2;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #fafafa;
    color: #c9c9c9;
    font-weight: 600;
}
.file_view .file_name p{
    font-size: 0.70rem !important;
    color: #5a5b5e;
    width: 140px;
    overflow: hidden;
    padding: 5px;
    font-weight: 500;
    margin: 0;
    height: 14px;
    word-wrap: initial;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius:0 0 10px;
    margin-top: 0px;
    position: relative;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 100px, transparent);
}
