.modal_secondary .selector{
    min-height: 0px !important;
    height: max-content !important;
    max-width: 400px !important;
}

.modal_secondary .overlay .close_area{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal_secondary .overlay{
    position: fixed;
    top: 60px;
    height: 100vh;
    width: calc(100%);
    right: 0;
    z-index: 1000;
    background: #00000080;
    display: flex;
    align-items: center;
    transition: .3s ease;
    justify-content: center;
    opacity: 1;
}
.modal_secondary .selector{
    max-width: 500px;
    width: calc(100% - 30px);
    height: 60vh;
    margin-bottom:30px;
    min-height: 400px;
    background: white;
    z-index: 1001;
    transform: scale(1);
    transition: .3s ease;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    position: relative !important;
}
.modal_secondary .selector .nav_tab{
    display: flex;
    padding: 15px 20px 10px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
}
.modal_secondary .selector .nav_tab .title{
    font-size: 15px;
    text-transform: capitalize;
    color: #3c4043;
}
.modal_secondary .selector .nav_tab .close_button{
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 0;
    color: #3c4043;
    z-index: 50;
    transform: scale(1.3);
}
.modal_secondary .selector .nav_tab .close_button:hover{
    background: #f1f1f1;
}