.modal_secondary .selector{
    min-height: 0px !important;
    height: max-content !important;
    max-width: 400px !important;
    max-height: calc(100vh - 100px) !important;
    position: relative;
}

.modal_secondary .overlay .close_area{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal_secondary .overlay{
    position: fixed;
    top: 60px;
    height: 100vh;
    width: calc(100%);
    right: 0;
    z-index: 1000000;
    background: #00000000;
    display: none;
    align-items: center;
    transition: .3s ease;
    justify-content: center;
    opacity: 1;
}
.modal_secondary .selector{
    max-width: 500px;
    width: calc(100% - 30px);
    height: 60vh;
    margin-bottom:60px;
    min-height: 400px;
    background: var(--gray-100);
    z-index: 1200;
    transform: scale(0.9);
    transition: .3s ease;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: relative !important;
}
.modal_secondary .selector .nav_tab{
    display: flex;
    padding: 15px 20px 10px 20px;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-lighter);
}
.modal_secondary .selector .nav_tab .title{
    font-size: 15px;
    text-transform: capitalize;
    color: var(--text-color);
}
.modal_secondary .selector .nav_tab .close_button{
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 0;
    color: var(--text-color);
    z-index: 50;
    transform: scale(1.3);
}
.modal_secondary .selector .nav_tab .close_button:hover{
    background: var(--bg-muted);
}
.modal_secondary .selector .content_modal{
    overflow-y: scroll;
    height: 100%;
}
.btn_secondary:disabled{
  background: var(--gray-600) !important;
  cursor: not-allowed !important;
}
.btn_secondary:disabled:focus{
  background: var(--gray-600) !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}