.file_input{
    width: 100%;
    /* background: red; */
    height: 100%;
} 
.file_input label{
    padding: 5px 15px;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    background: white;
    color: var(--primary-color);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #adadad;
    margin-bottom: 10px;
}
.file_input .files{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.file_input label:hover{
    background: #eeeeee;
    /* color: white; */
}
.file_input input::file-selector-button{
    display: none;
}
.file_input input{
    display: none;
}
.file_input p{
    width: 120px !important;
}
.file_input .file_view{
    cursor: auto;
}
.file_view .file_name{
    display: flex;
    align-items: center;
    position: relative;
}
.file_view .file_name i{
    cursor: pointer;
    color: #504d4d;
    position: absolute;
    height: 25px;
    right: 0px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 50px;
}
.file_view .file_name i:hover{
    background-color: #e2e2e2;
}