.file_input{
    width: 100%;
    /* background: red; */
    height: 100%;
} 
.file_input label{
    padding: 5px 15px;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    background: white;
    color: var(--primary-color);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #adadad;
    margin-bottom: 10px;
}
.file_input label:hover{
    background: #eeeeee;
    /* color: white; */
}
.file_input input::file-selector-button{
    display: none;
}
.file_input input{
    display: none;
}
.file_input .preview{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.file_input .preview .file{
    display: flex;
    border: 1px solid #c0c0c0;
    font-size: 12px;
    width: fit-content;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    color: #3C4043;
}
.file_input .preview p{
    margin: 0;
    padding: 0;
    font-size: 12px !important;
    text-decoration: none;
    color: #3C4043;
    width: 100px;
    font-weight: 600 !important;
    overflow: hidden;
    display: flex;
    padding: 5px 10px;
    word-wrap: break-word;
    height: 15px;
    /* background: red; */
    white-space-collapse: collapse !important;
    border: none;
    margin: 0;
}
.file_input .preview .file:hover{
    background: #f3f3f3;
}
.file_input .preview .file i{
    background: #e4e4e4;
    margin-left: 0px;
    width: 30px;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.file_input .preview p i{
    background: transparent !important;
    width: fit-content !important;
    margin-right: 5px;
}