.icon_image{
    height: 100%;
    background: linear-gradient(135deg, #a0aec0, #718096);
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.icon_image img{
    position: absolute;
    height: calc( 110% + 5px);
    width: calc( 110% + 5px);
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    z-index: 1;
}
.icon_image h2{
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    color: rgb(245, 245, 245);
    font-weight: 500;
    user-select: none;
    align-items: center;
    justify-content: center;
    position: absolute;
}