.search_input{
    border: 1px solid var(--border-gray);
    border-radius:5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: calc(100% - 20px);
    display: flex;  
}
.search_input i{
    color: var(--text-muted);
}
.search_input input{
    border: none;
    margin-left: 5px;
    outline: none;
    font-family: inherit;
    width: calc(100%);
    font-size: 15px;
    background: transparent;
    color: var(--text-color);
}
.search_input:focus-within{
    border: 1px solid var(--gray-700);
}