.modal{
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: fit-content;
    z-index: 10000000;
    display: flex;
    align-items: end;
    justify-content: center;
    transition:.3s ease;
}
.modal_overlay{
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    display: flex;
    bottom: 0;
    transition:all .3s ease;
    background: #ffffff00;
}
.modal .container{
    width: calc(100% - 30px);
    min-width: 300px;
    max-width: 450px;
    padding: 15px;
    position: absolute;
    transition: .3s ease;
    background: #fff;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    height: fit-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.modal .container .top_content{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 20px;
}
.modal .container .top_content .title {
    font-weight: 700 ;
    font-size: 18px;
    user-select: none;
}
.modal_closed .container .top_content .close_button{
    transform: rotate(180deg);
}
.modal .container .top_content .close_button{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: .3s ease;
    color: gray;
    cursor: pointer;
}
.modal .container .content{
    height: fit-content;
    padding: 0;
    width: 100%;
    position: relative;
}
.modal .container .bottom_content{
    display: flex;
    justify-content: flex-end;
}
.modal .container .bottom_content .button-1{
    color: gray;
    padding: 5px 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
    border: 1.5px solid rgb(214, 214, 214);
    background: transparent;
    margin-right: 10px;
}
.modal .container .bottom_content .button-2{
    color: white;
    padding: 5px 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
    border: 1.5px solid var(--primary-color);
    background: var(--primary-color);
}
.modal .container .bottom_content .button-1:hover{
    background: rgb(241, 241, 241);
}