.button_primary{
    background: var(--primary-color);
    padding: 10px 5px;
    max-width: 500px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    border:none;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    height: 40px;
    font-family: inherit;
    justify-content: center !important;
    transition: .3s ease;
}
.button_primary:disabled{
    opacity: .5;
    pointer-events: none;
}
.button_primary span{
}