.home_page{
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}
.home_page .navbar{
    display: flex;
    height: 60px;
    width: 100vw;
    position: fixed;
    top:0;
    justify-content: space-between;
    left: 0;
    background-color: #ffffff6b;
    backdrop-filter: blur(20px);
    z-index: 101;
    border-bottom: 1px solid #c0c0c0;
}
.home_page .navbar .nav_left{
    display: flex;
    align-items: center;
}

.home_page .navbar .hamburger_button{
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_page .navbar .hamburger_button .hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    position: relative;
    height: 40px;
    margin: 0 !important;
}
.home_page .navbar .hamburger_button .hamburger span{
    width: 20px;
    height: 0.125rem !important;
    background-color: #4D4D4D;
    margin: 0;
    transition: .3s ease;
    border-radius: 1px;
    position: absolute;
}
.home_page .navbar .hamburger_button .hamburger span:nth-child(1){
    top: calc(100% / 3 - 0.125rem / 3);
}
.home_page .navbar .hamburger_button .hamburger span:nth-child(2){
    top: calc(150% / 3 - 0.125rem / 3);
}
.home_page .navbar .hamburger_button .hamburger span:nth-child(3){
    top: calc(200% / 3 - 0.125rem / 3);
}
.home_page .navbar .hamburger_button i{
    transition: .3s ease;
}
.home_page .navbar .hamburger_button .ham_open span{
    top: calc(100% / 2 - 0.125rem / 2) !important;
}
.home_page .navbar .hamburger_button .ham_open span:nth-child(1){
    transform: rotate(45deg);
}
.home_page .navbar .hamburger_button .ham_open span:nth-child(2){
    width: 0;
}
.home_page .navbar .hamburger_button .ham_open span:nth-child(3){
    transform: rotate(-45deg);
}
.home_page .navbar .nav_button{
    width: 40px;
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    color: #4D4D4D;
    margin-right: 10px;
    overflow: hidden;
}
.home_page .navbar .nav_button:hover{
    background: #00000018;
}
.home_page .navbar .nav_left .logo{
    width: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
}

.home_page .navbar .nav_left .logo img{
    height: 25px;
    margin-bottom: -2px;
    filter: invert(0.7);
}
.home_page .navbar .nav_right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.home_page .main{
    min-height: 500px;
    display: flex;
    padding-top: 60px;
}
.home_page .main .side_bar{
    position: fixed;
    width: 60px;
    height: calc(100vh - 60px);
    background: #fff;
    border-right: 1px solid #c0c0c0;
    /* display: flex; */
    flex-direction: column;
    z-index: 99;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    transition:.3s ease;
    justify-content: flex-start;
}
.home_page .main .side_bar::-webkit-scrollbar{
    display: none;
}

.home_page .main .sidebar_open{
    width: 280px;
}
.home_page .main .content{
    width: calc(100% - 60px);
    position: absolute;
    overflow-x: hidden;
    right: 0;
    top: 0;
    z-index: 0;
    transition: .3s ease;
    height: calc(100vh - 60px);
    padding-top: 60px;
}
.home_page .main .content_shrink{
    width: calc(100% - 280px);
} 
.home_page .main .side_bar .class_placeholder{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-left: none;
    position: relative;
    transition: 0.2s ease;
    width: 58px;
}

.home_page .main .side_bar .class_placeholder:hover{
    border: 1px solid transparent;
    border-left: none;
}
.home_page .main .sidebar_open .class_placeholder{
    display: flex;
    width: calc(100% - 20px);
    height: 45px;
    align-items: center;
    justify-content: flex-start;
    /* margin-top: 10px; */
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    border-radius: 0px 30px 30px 0px;
    border: 1px solid #fff;
    border-left: none;
    position: relative;
}
.home_page .main .sidebar_open .class_placeholder:hover {
    filter: alpha(opacity=90);
    background-color: rgba(var(--bg),0.1);
    border: 1px solid rgb(var(--bg));
    border-left: none;
}
.home_page .main .side_bar .class_placeholder h1{
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background: rgb(var(--bg));
    transition: .1s ease-out;
}
.home_page .main .side_bar .class_placeholder:hover h1{
    border-radius: 12px;
}
.home_page .main .side_bar .class_placeholder .icon{
    z-index: 10;
    padding: 0;
    margin-left: 10px;
    margin-right: 12px;
}
.home_page .main .side_bar .class_placeholder h2{
    display: none;
    mask-image: linear-gradient(to right,white 150px , transparent);

}
.home_page .main .side_bar .class_placeholder p{
    display: none;
    font-weight: 400;
    font-size: 12px;
    mask-image: linear-gradient(to right,white 150px , transparent);
}
.home_page .main .sidebar_open .class_placeholder .class_name{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.home_page .main .sidebar_open .class_placeholder .class_name h2{
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    color: #4D4D4D;
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home_page .main .sidebar_open .class_placeholder .class_name p{
    margin: 0px;
    display: block;
    padding: 0;
    width: 100%;
    font-size: 12px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #7e7e7e;
    font-weight: 400;
}
/** For Class Title **/
.home_page .main .side_bar .class_title{
    display: flex;
    width: calc(100% );
    height: 45px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
    transition: 0.1s ease;
    width: 60px;
}
.home_page .main .side_bar .class_title .title{
    display: none
}
.home_page .main .side_bar .class_title .icon{
    margin-left: 15px;
    margin-right: 17px;
    font-size: 20px;
    color: #4D4D4D;
}
.home_page .main .sidebar_open .class_title{
    display: flex;
    width: calc(100% - 20px);
    height: 45px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    color: #4D4D4D;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    border-radius: 0px 30px 30px 0px;
    border: 1px solid #fff;
    position: relative;
}
.home_page .main .sidebar_open .class_title .title{
    display: block
}
@media screen and (max-width:690px) {
    .home_page .main .side_bar{
        width: 0px;
        overflow: hidden;
        box-shadow: 0px 0px 10px #2c2c2c7e;
    }
    .home_page .main .sidebar_open{
        width: 280px;
    }
    .home_page .main .content{
        width: 100%;
        zoom: calc(100vw / 690px);
    }
}
.nav_form{
    padding: 15px 20px 20px 20px;
}
.nav_form .button_group{
    display: flex;
    
}
.nav_form .button_group button{
    margin-right: 5px;
}