.home_page{
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}
.home_page .navbar{
    display: flex;
    height: 59px;
    width: 100vw;
    position: relative;
    top:0;
    justify-content: space-between;
    left: 0;
    background-color: var(--bg-dull);
    backdrop-filter: blur(20px);
    z-index: 101;
    border-bottom: 1px solid var(--border-gray);
}
.home_page .navbar .nav_left{
    display: flex;
    align-items: center;
}

.home_page .navbar .hamburger_button{
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_page .navbar .hamburger_button .hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    position: relative;
    height: 60px;
    margin: 0 !important;
}
.home_page .navbar .hamburger_button .hamburger span{
    width: 20px;
    height: 0.125rem !important;
    background-color: var(--text-light);
    margin: 0;
    transition: .3s ease;
    border-radius: 1px;
    position: absolute;
}
.home_page .navbar .hamburger_button .hamburger span:nth-child(1){
    top: calc(100% / 3 - 0.125rem / 3);
}
.home_page .navbar .hamburger_button .hamburger span:nth-child(2){
    top: calc(150% / 3 - 0.125rem / 3);
}
.home_page .navbar .hamburger_button .hamburger span:nth-child(3){
    top: calc(200% / 3 - 0.125rem / 3);
}
.home_page .navbar .hamburger_button i{
    transition: .3s ease;
}
.home_page .navbar .hamburger_button .ham_open span{
    top: calc(100% / 2 - 0.125rem / 2) !important;
}
.home_page .navbar .hamburger_button .ham_open span:nth-child(1){
    transform: rotate(45deg);
}
.home_page .navbar .hamburger_button .ham_open span:nth-child(2){
    width: 0;
}
.home_page .navbar .hamburger_button .ham_open span:nth-child(3){
    transform: rotate(-45deg);
}
.home_page .navbar .nav_button{
    width: 40px;
    display: flex;
    padding: 2.5px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    color: var(--text-light);
    margin-right: 10px;
    overflow: hidden;
}
.home_page .navbar .nav_button > div{
    height: 35px !important;
    width: 35px !important;
}
.home_page .navbar .nav_button:hover{
    background: var(--hover-shadow);
}
.home_page .navbar .nav_left .logo{
    width: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
}

.home_page .navbar .nav_left .logo img{
    height: 25px;
    margin-bottom: -2px;
    filter: invert(var(--logo-invert));
}
.home_page .navbar .nav_right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.home_page .main{
    height: calc(100vh - 60px);
    display: flex;
    overflow-y: hidden;
}
.home_page .main .side_bar{
    position: relative;
    width:59px;
    height: calc(100vh - 60px);
    background: var(--bg-dull);
    border-right: 1px solid var(--border-gray);
    display: flex;
    flex-direction: column;
    z-index: 99;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    transition:.3s ease;
    justify-content: flex-start;
}
.home_page .main .side_bar .tab{
    display: flex;
    padding: 0 20px;
    margin: 5px 0;
}
.home_page .main .side_bar .tab i{
    font-size: 18px;
}
.home_page .main .side_bar::-webkit-scrollbar{
    display: none;
}

.home_page .main .sidebar_open{
    width: 280px;
}
.home_page .main .content{
    width: calc(100vw - 60px);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
    transition: .3s ease;
    height: calc(100vh - 60px);
}
.home_page .main .content_shrink{
    width: calc(100% - 280px);
} 
.home_page .main .side_bar .class_placeholder{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    margin-bottom: 0px;
    border: 1px solid transparent;
    position: relative;
    transition: 0.2s ease;
    width: 60px;

}

.home_page .main .side_bar .class_placeholder:hover{
    border: 1px solid transparent;
}
.home_page .main .side_bar .e_space{
    height: 10px;
}
.home_page .main .sidebar_open .class_placeholder{
    display: flex;
    width: calc(280px - 10px);
    height: 45px;
    align-items: center;
    justify-content: flex-start;
    /* margin-top: 10px; */
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 30px;
    border: 1px solid var(--bg-dull);
    position: relative;
}
.home_page .main .sidebar_open .class_placeholder:hover {
    background-color: rgba(var(--bg),var(--bg-opacity));
    /* border: 1px solid rgb(var(--bg)); */
}
.home_page .main .sidebar_open .class_placeholder:hover h1{
    background: transparent;
    border: 2px solid rgba(var(--bg),var(--bg-opacity));
    /* font-size: 20px; */
}
.home_page .main .side_bar .app_title{
    display: flex;
    height: 40px;
    display: none;
    padding: 0 20px;
}
.home_page .main .side_bar .app_title img{
    height: 25px;
    /* margin-bottom: -2px; */
    filter: invert(var(--logo-invert));
}
.home_page .main .side_bar .class_placeholder.active h1{
    width: 30px;
    background: rgb(var(--bg));
    color: white;
    outline: 2px solid rgb(var(--bg));
    /* margin-left: -4px; */
}
.home_page .main .side_bar .class_placeholder h1{
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: white;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;    
    margin: 0 ;
    margin-left: 3px;
    border: 2px solid var(--bg-dull);
    outline: 2px solid var(--bg-dull);
    border-radius: 20px;
    padding: 0;
    background: rgba(var(--bg));
    transition: .1s ease-out;
}
.home_page .main .sidebar_open .class_placeholder.active{
    /* outline: 2px solid rgb(var(--bg-dull)); */
}
.home_page .main .sidebar_open .class_placeholder h1{
    border-radius: 50%;
    width: 30px !important;
    border: 2px solid var(--bg-dull);
    margin-left: 3px !important;
    outline: 2px solid rgb(var(--bg-dull));
    height: 30px;
}
.home_page .main .side_bar .class_placeholder .icon{
    z-index: 10;
    padding: 0;
    margin-left: 10px;
    margin-right: 12px;
}
.home_page .main .side_bar .class_placeholder h2{
    display: none;
    mask-image: linear-gradient(to right,white 150px , transparent);

}
.home_page .main .side_bar .class_placeholder p{
    display: none;
    font-weight: 400;
    font-size: 12px;
    mask-image: linear-gradient(to right,white 150px , transparent);
}
.home_page .main .sidebar_open .class_placeholder .class_name{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.home_page .main .sidebar_open .class_placeholder .class_name h2{
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--tertiary-color);
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home_page .main .sidebar_open .class_placeholder .class_name p{
    margin: 0px;
    display: block;
    padding: 0;
    width: 100%;
    font-size: .6875rem;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-grayish);
    font-weight: 400;
}
/** For Class Title **/
.home_page .main .side_bar .class_title{
    display: flex;
    width: 60px;
    height: 45px;
    align-items: center;
    justify-content: flex-start;
    /* margin-top: 10px; */
    overflow: hidden;
    justify-content: center;
    padding: 0;
    border-radius: 30px !important;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
    transition: 0.2s ease;
    width: auto;
}
.home_page .main .side_bar .classes{
    height: 400px;
    overflow-y: scroll;
}
.home_page .main .side_bar .class_title .title{
    display: none
}
.home_page .main .side_bar .class_title .icon{
    margin-left: 14px;
    margin-right: 13px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--tertiary-color);
}
.home_page .main .sidebar_open .class_title.clickable.active{
    color: var(--primary-color);
    background: var(--bg-blue-tint);
}
.home_page .main .side_bar .class_title.clickable.active .icon{
    height: 40px;
    width: 40px;
    margin-left: 9px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: var(--primary-color);
    background: var(--bg-blue-tint);
}
.home_page .main .sidebar_open .class_title.clickable:hover{
    background-color: var(--border-lighter);
}
.home_page .main .sidebar_open .class_title.clickable.active:hover{
    background: var(--bg-blue-tint);

}
.home_page .main .sidebar_open .class_title{
    display: flex;
    width: calc(280px - 10px);
    height: 45px;
    margin-left: 5px;
    margin: 0 5px;
    align-items: center;
    justify-content: flex-start;

    margin-top: 5px;
    color: var(--tertiary-color);
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    border-radius: 0px 30px 30px 0px;
    border: 1px solid var(--bg-dull);
    position: relative;
}
.home_page .main .sidebar_open .class_title .title{
    display: block;
    margin-left: 0;
}
.home_page .overlay{
    display: none;
}
@media screen and (max-width:690px) {
    .home_page .main .side_bar{
        position: fixed;
        width: 280px;
        top:0;
        left: -281px;
        z-index: 10000000;
        border-radius: 0 15px 15px 0;
        height: 100vh;
        overflow: hidden;
        box-shadow: 0px 0px 10px #2c2c2c7e;
    }
    .home_page .overlay{
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 9999999;
        background: #0000007e;
    }
    .home_page .overlay.overlay_open{
        display: block;
    }
    .home_page .main .side_bar .app_title{
        display: flex;
        margin-top: 20px;
        width: calc(280px - 40px);
        align-items: center;
        justify-content: space-between;
    }
    .home_page .main .side_bar .app_title i{
        font-size: 20px;
        cursor: pointer;
        color: var(--tertiary-color);
    }
    .home_page .main .sidebar_open{
        left: 0;
    }
    .home_page .main .content{
        width: 100%;
        zoom: calc(100vw / 690px);
    }
}
.nav_form{
    padding: 15px 20px 20px 20px;
}
.nav_form .button_group{
    display: flex;
    
}
.nav_form .button_group button{
    margin-right: 5px;
}