#loading{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background:var(--bg-light);
    display: flex;
    align-items: center;
    justify-content: center;    
    z-index: 99999;
    opacity: 1;
    transition: 0.3s ease;
    backdrop-filter: blur(20px) ;
    flex-direction: column;
}
#loading .new_feature{
    margin-top: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #c4c6ff;
}
#loading .logo{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: white;
    border-radius: 50%;
}
#loading .logo img{
    height: 50px;
    width: 50px;
    z-index: 1;
}
#loading .logo span{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1;
    border-radius: 50%;
    border: 10px solid var(--primary-color);
    border-bottom: 10px solid var(--faded-color);
    border-right: 10px solid var(--faded-color);
    border-left: 10px solid var(--faded-color);
    animation: loading 0.6s linear 0s infinite forwards ;
    /* filter: blur(5px); */
}
@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loading__off .logo{
    display: none !important;
}
.loading__off{
    /* height: 0px !important; */
    overflow: hidden;
    background: #00000000 !important;
    backdrop-filter: blur(0px) !important;
}
.loading__off .new_feature{
    display: none !important;
}