@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
  font-weight: 600;
}
:root{
  --primary-color: #5C60F5;
  --secondary-color: #FF8C00;
  --tertiary-color: #4D4D4D;
  --quaternary-color: #F4F4F4;
  --faded-color:#d8daff;
  --skeleton-background2: linear-gradient(120deg,#a8a8a8 ,#e4e4e4,#a8a8a8);
  --skeleton-background:#a8a8a8;
  --skeleton-animation:skeleton_animation 0.5s ease 0s infinite alternate; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link_secondary{
  color: #FF8C00;
  text-decoration: none;
  font-weight: 500;
}
.page{
  animation: page_in 0.3s ease 0s 1;
}
@keyframes page_in {
    0%{
      transform: translateX(-50px);
      opacity: 0;
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    }
}
@keyframes skeleton_animation {
  0%{
    background-color: #a8a8a8;
  }
  100%{
    background-color: #e4e4e4;
  }
}