@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--bg-lightest);
}
*{
  font-weight: 600;
}
:root{
  --primary-color: var(--primary-color);
  --secondary-color: #FF8C00;
  --tertiary-color: var(--tertiary-color);
  --quaternary-color: #F4F4F4;
  --faded-color:var(--faded-color);
  --skeleton-background2: linear-gradient(120deg,var(--skeleton-dark) ,var(--skeleton-light),var(--skeleton-dark));
  --skeleton-background:var(--skeleton-dark);
  --skeleton-animation:skeleton_animation 0.5s ease 0s infinite alternate; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link_secondary{
  color: #FF8C00;
  text-decoration: none;
  font-weight: 500;
}
.page{
  animation: page_in .3s ease 0s 1;
  transition:.3s ease;
}
@keyframes page_in {
    0%{
      transform: scale(0.9);
      opacity: 0;
    }
    100%{
      transform: scale(1);
      opacity: 1;
    }
}
@keyframes skeleton_animation {
  0%{
    background-color: var(--skeleton-dark);
  }
  100%{
    background-color: var(--skeleton-light);
  }
}
hr{
  border: 1px solid var(--skeleton-light);
}
.btn_secondary{
  padding: 8px 15px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  background: var(--primary-color) !important;
  color: white !important;
  border-radius: 50px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
  border: none !important;
}
.btn_secondary:disabled{
  opacity: .9 !important;
  pointer-events: none !important;
}
.btn_secondary:disabled:focus{
  opacity: .9 !important;
  pointer-events: none !important;
}
.text_secondary{
  color: var(--tertiary-color);
  font-size: 15px;
  margin: 0;
  font-weight: 500;
}
.btn_tertiary{
  padding: 8px 15px;
  font-size: 15px;
  font-weight: 500;
  background: var(--bg-blue-tint);
  color: var(--primary-color);
  border-radius: 50px;
  cursor: pointer;
  border: none;
  border: 2px solid var(--primary-color) !important;
}
.key_shortcut{
  background: var(--skeleton-light);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 12px;
  flex-direction: column;
  font-weight: 500;
  color: var(--skeleton-dark);
  letter-spacing: -0.5px;
}
.key_shortcut b{
  color: var(--tertiary-color);
  margin-left: 3px;
}
.key_shortcut  span:last-child{
  font-size: 10px;
}
.btn_loading{
  height:12px;
  display: flex;
  width: 12px;
  border-radius: 50%;
  border: 2px solid white;
  border-top: 2px solid transparent;
  animation: btn_loading 1s linear 0s infinite;
  /* background: var(--error); */
}
.btn_group{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
}
.btn_group .btn_secondary{
  margin: 0 !important;
}
.btn_group .btn_tertiary{
  margin: 0 !important;
}
.btn_group-2{
  display: flex;
  gap: 10px;
}
.btn_group-2 button:first-child{
  margin: 0 !important;
}
.btn_group-2 button:last-child{
  margin: 0 !important;
}
@keyframes btn_loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
button:active{
  filter: brightness(0.9) ;
}
input::datetime-local::datetime-picker{  
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
input{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}