@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
  font-weight: 600;
}
:root{
  --primary-color: #5C60F5;
  --secondary-color: #FF8C00;
  --tertiary-color: #4D4D4D;
  --quaternary-color: #F4F4F4;
  --faded-color:#e2e4ff;
  --skeleton-background2: linear-gradient(120deg,#a8a8a8 ,#e4e4e4,#a8a8a8);
  --skeleton-background:#a8a8a8;
  --skeleton-animation:skeleton_animation 0.5s ease 0s infinite alternate; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link_secondary{
  color: #FF8C00;
  text-decoration: none;
  font-weight: 500;
}
.page{
  animation: page_in .3s ease 0s 1;
  transition:.3s ease;
}
@keyframes page_in {
    0%{
      transform: translateX(-50px);
      opacity: 0;
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    }
}
@keyframes skeleton_animation {
  0%{
    background-color: #a8a8a8;
  }
  100%{
    background-color: #e4e4e4;
  }
}
hr{
  border: 1px solid #e4e4e4;
}
.btn_secondary{
  padding: 8px 15px;
  font-size: 15px;
  font-weight: 500;
  background: var(--primary-color);
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #fff;
}
.btn_secondary:disabled{
  background: #7075ff;
}
.btn_tertiary{
  padding: 8px 15px;
  font-size: 15px;
  font-weight: 500;
  background: var(--faded-color);
  color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #fff;
}
.key_shortcut{
  background: #e4e4e4;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 12px;
  flex-direction: column;
  font-weight: 500;
  color: #a8a8a8;
  letter-spacing: -0.5px;
}
.key_shortcut b{
  color: #4D4D4D;
  margin-left: 3px;
}
.key_shortcut  span:last-child{
  font-size: 10px;
}
.btn_loading{
  height:12px;
  display: flex;
  width: 12px;
  border-radius: 50%;
  border: 2px solid white;
  border-top: 2px solid transparent;
  animation: btn_loading 1s linear 0s infinite;
  /* background: red; */
}
@keyframes btn_loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
button:active{
  filter: brightness(0.9) ;
}
input::datetime-local::datetime-picker{  
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}